body {
    background-color: rgba(217, 217, 217, 0.25)
}

form#addEventForm {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 15px 23%;
    padding: 25px;
    display: inline-block;
    font-family: "Coustard", serif;
}

#addEventForm * {
    margin-bottom: 20px;
}

#addEventForm input[type="text"], select, #txtDesc, input[type="file"] {
    padding: 10px;
    border: 1px solid #E46262;
    border-radius: 22px;
    font-weight: 100;
    width: calc(100% - 30px);
}

#addEventForm input[type="radio"] {
    font-weight: 600;
}

#addEventForm span {
    font-weight: 600;
    margin-bottom: 20px;
}



#lblLocation, #lblLink {
    margin-left: 10px;
    font-weight: 600;
}

#selectTimeH, #selectTimeM {
    width: calc(40% - 30px)
}

#selectTimeM {
    margin-right: 10px;
}

#selectDurationH, #selectDurationM {
    width: calc(40% - 30px)
}

#selectDurationM {
    margin-right: 10px;
}

#ddlDay, #ddlMonth, #ddlYear {
    width: calc(30% - 30px)
}

    #ddlYear {
        margin-right: 10px;
    }



#selectTags {
    width: calc(80% - 10px);
    margin-left: 10px;
}

    #selectTags label {
        font-weight: 200;
    }

.timeInputDiv, .durationInputDiv, .dateInputDiv {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.timeInputDiv {
    margin-top: 7px;
}

#btnAddNewEvent {
    background-color: #F1A7A7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Coustard", serif;
}

    #btnAddNewEvent:hover {
        background-color: #E46262;
    }


#pageTitle {
    font-family: "Coustard", serif;
    text-align: center;
}

.tagsAdditionDiv {
    display: flex;
    flex-direction: column;
}

#eventstagslabel {
    font-family: "Coustard", serif;
    font-size: 10pt;
    color: #E46262;
}

