#heroDiv{
    margin:auto;
    border:solid;
    border-radius:2px;
    width:40%;
    padding:10px 3px 3px 3px;
}
#title {
    font-family: "Coustard", serif;
    margin:10px;
}

#titleBox {
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding: 5px;
    width: 95%;
    box-shadow: 1px 2px 2px #DE2B2B;
    border-style: solid;
    border-color: #F1A7A7;
}

select {
    font-family: "Coustard", serif;
    color: #DE2B2B;
    border: none;
    margin: 1px 10px 10px 10px;
}

#contentBox {
    padding: 60px 5px 60px 5px;
    width: 95%;
    border-radius: 20px 20px 0px 0px;
    margin: 10px 10px 0px 10px;
    background-color: #F5F5F5;
    border-style:solid solid none solid;
}

::placeholder {
    font-family: "Coustard", serif;
    top:10px;
    font-size:15pt;
}

#postBtn {
    border: none;
    background-color: #F1A7A7;
    font-family: "Coustard", serif;
    width:20%;
    font-size: 15pt;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    font-weight:bold;
}

#text-strip {
    background-color: #F1A7A7;
    border-radius: 0px 0px 20px 20px;
    border-style: none solid solid solid;
    text-align:right;
    width:96.6%;
    margin:0px 10px 0px 10px; ;
}

#imageUpload{
    display:none;
}

i{
    margin:10px;
}

#pageTitle {
    font-family: "Coustard", serif;
    text-align: center;
}