#heroDiv {
    text-align: center;
}
input[type=button], select {
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px;
    margin: 3px;
    font-family: "Coustard", serif;
    border:none;
}

.buttons{
    margin:20px;
    width:65%;
}

#createPostbtn {
    background-color: rgb(241, 167, 167);
    margin: 3px;
    padding:10px;
    border-radius: 15px;
    width: 35%;
    font-family: "Coustard", serif;
    border:none;
}

#SecondDiv {
    background-color: rgb(238, 230, 230);
    border-radius: 15px;
    width: 65%;
    margin: auto;
    text-align:center;
   
}

.post {
    background-color: rgb(167, 221, 186);
    border-radius:15px;
    padding:2px;
    width:95%;
    margin:20px;
}
.poster, .time {
    display: inline-block;
    color: rgb(84, 84, 84);
}
.poster{
    text-align:left;
}
.time{
    text-align:right;
}

.num_of_comments {
    color: rgb(84, 84, 84);
}

