#heroDiv {
    text-align: center;
    display:flex;
    flex-direction:column;
   
}

.greybtnstyles {
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px;
    font-family: "Coustard", serif;
    font-size: 13pt;
    border: none;
    width:50%;
    cursor:pointer;
    margin:3px;
}

    .greybtnstyles:hover {
        background-color: #545454;
        color:white;
    }

.clickedgreybtn {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-family: "Coustard", serif;
    font-size: 13pt;
    border: none;
    width: 50%;
    cursor: pointer;
    margin: 3px;
}



.buttons {
    margin: 20px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between;
    width: 65%;
}

.greybtnDiv{
    display:flex;
    justify-content:flex-end;
}

#createPostbtn {
    background-color: rgb(241, 167, 167);
    margin: 3px;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    font-family: "Coustard", serif;
    font-size:11pt;
    border: none;
    cursor: pointer;
}



.SecondDiv {
    background-color: rgb(238, 230, 230);
    border-radius: 15px;
    width: 65%;
    margin: auto;
    text-align:center;
    overflow:auto;
}

.post {
    background-color: rgb(167, 221, 186);
    border-radius:15px;
    width:95%;
    margin:20px 20px 20px 20px;
    text-align:left;
    padding-bottom: 10px;
}

.post:hover {
    box-shadow: 5px 5px 4px #E46262;
}

.poster, .time {
    display: inline-block;
    color: rgb(84, 84, 84);
    margin-top:10px;
}
.poster{
    text-align:left;
    margin-left: 30px;
}
.time{
    margin-left: 68%;
    text-align: right;
}

.num_of_comments {
    color: rgb(84, 84, 84);
    margin-left: 30px;
}

.postContent {
    text-align: left;
    font-family: "Coustard", serif;
    font-size: 13pt;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.p {
    font-family: "Coustard", serif;
    font-size: 13pt;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
    display: inline-block;
}

.h4 {
    font-family: "Coustard", serif;
    font-weight: normal;
    font-size: 16pt;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration:none;
    cursor:pointer;
    color:black;
}

#pageTitle {
    font-family: "Coustard", serif;
    text-align: center;
}



