/* header section styles */
.navbar {
    font-family: "Coustard", serif;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .navbar .icon {
        font-size: 20px;
    }

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
}

.nav-item {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    position: relative;
}

    .nav-item:hover {
        background-color: #7BCC98;
        color: black;
    }

    .nav-item.active {
        background-color: #7BCC98;
        color: black;
    }

.current-page {
    background-color: #7BCC98;
    color: black;
}

.navbar-right {
    display: flex;
}

.icon {
    padding: 10px;
}


/* footer section styles */
.footer {
    font-family: "Coustard", serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    margin-top: 100px;
}

.footer-content {
    max-width: 100%;
    max-height: 20%;
    margin: 0 auto;
}

    .footer-content p {
        font-size: 20px;
    }

.footer h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer p {
    margin-bottom: 5px;
}

.contact-info {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 10px;
    margin-bottom: 20px
}

    .social-icons .icon {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size:20px;
    }

        .social-icons .icon:hover {
            color: #F1A7A7;
        }