/*Login and Registration Styles*/

body {
    background-image: url("../resources/images/bgSignupLogin.jpg");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
    background-attachment: local;
}
p{
    display: inline-block;
}
div {
    background-color: white;
    text-align: center;
    width: 40%;
    height:70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    position: absolute;
    left: -40px;
    top: 335px;
}

input[type=text], input[type=password], input[type=email], select, .textboxStyles {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(167, 221, 186);
    width: 55%;
    margin: 0px 0px 5px 20px;
}

   /* input[type=text]{
        margin:0px 0px 20px 20px;
    }
    input[type=password]{
        margin:0px 0px 0px 20px;
    }*/

    input[type=submit], .btnLoginStyle {
        border-radius: 20px;
        margin: 20px;
        padding: 3px;
        font-size: 15pt;
        cursor: pointer;
        background-color: rgb(241, 167, 167);
        width: 57%;
        font-family: "Coustard", serif;
        margin-left: 145px;
    }

label, p {
    font-family: "Coustard", serif;
    font-Size: 15pt;
}

h1 {
    font-family: "Coustard", serif;
    font-weight: bold;
    font-size:30pt;
}

#forgotPasswordLink {
    font-family: "Coustard", serif;
    color:gray;
    font-size:small;
    margin-left:300px;
}

#registerHereLink {
    color: rgb(228, 98, 98);
    font-size:12pt;
}

p{
    margin-left:100px;
    font-size:12pt;
}

a:hover{
    text-decoration:underline;
}

a:link {
    text-decoration: none;
    color:red;
}

.errorlbl {
    color: #DE2B2B;
    font-family: "Coustard", serif;
}