body {
    background-image: url("../resources/images/bgSignupLogin.jpg");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
    background-attachment: local;
}

.flexboxDiv {
    display: flex;
    justify-content: center;

}


.labelsDiv {
    width: 30%;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

}
.inputsDiv {
    width: 55%;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submitAndLinkDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 41%;
}

.heroDiv {
    background-color: white;
    text-align: center;
    width: 50%;
    height: 115%;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



input[type=text], input[type=password], input[type=email], select, .txtboxStyles {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(167, 221, 186);
    width: 94%;
    margin: 0px 0px 5px 20px;
    display: inline-block;
   
}

select{
    width:100%;
}

input[type=submit], .btnSignupStyle {
    border-radius: 20px;
    padding: 3px;
    font-size: 12pt;
    cursor: pointer;
    background-color: rgb(241, 167, 167);
    width: 40%;
    font-family: "Coustard", serif;
    margin-bottom:0px;
}
label{
    font-family: "Coustard", serif;
    font-Size: 14pt;
    margin-bottom:50px;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
}

a {
    font-Size: 14pt;
    text-decoration: none;
    color: red;
    font-family: "Coustard", serif;
}
p {
    display: inline-block;
    font-family: "Coustard", serif;
    font-Size: 14pt;
}
h1 {
    font-family: "Coustard", serif;
    font-weight: bold;
    font-size: 30pt;
}
img {
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    position: absolute;
    left: -40px;
    top: 85%;
}

.errorlbl {
    color: #DE2B2B;
    font-family: "Coustard", serif;
}

.dobDDL {
    display: flex;
}

.ddlStyle {
    width: 107px;
}

.passwordIcon {
    display: flex;
    width: 100%;
}

i{
    margin-left:10px;
}