body {
    background-image: url("../resources/images/bgSignupLogin.jpg");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
    background-attachment: local;
}

#heroDiv {
    margin: auto;
    border: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
}

.labels {
    font-family: "Coustard", serif;
}

#secondDiv {
    display: flex;
    align-items: center;
}

.passwordlblDiv {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
}

.passwordtxtDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.textbox {
    padding: 5px;
    border: solid;
    border-color: #E46262;
    margin: 10px;
    border-radius: 20px;
}

#Label1 {
    font-family: "Coustard", serif;
    font-size: 20pt;
    margin: 10px;
    font-weight: bold;
}

#Label2 {
    margin-bottom: 20px;
    font-size: 15pt;
    text-align: center;
}

#Label3, #Label4 {
    font-size: 13pt;
    margin: 10px;
}

#Label3 {
    margin-bottom: 45px;
    margin-top: 0;
}

#confirmbtn {
    margin: 15px;
    padding: 5px;
    background-color: rgb(241, 167, 167);
    border-radius: 20px;
    font-family: "Coustard", serif;
    font-size: 15pt;
    width: 40%;
}

.errorlbl {
    color: #DE2B2B;
    font-family: "Coustard", serif;
}

