body {
    background-image: url("../resources/images/bgSignupLogin.jpg");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
    background-attachment: local;
}

#heroDiv {
    margin: auto;
    border: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:white;
}

#Label1 {
    font-family: "Coustard", serif;
    font-size: 20pt;
    margin: 10px;
    font-weight: bold;
}

#Label2 {
    font-family: "Coustard", serif;
    margin-bottom:30px;
    text-align:center;
}

#cancelHlink {
    font-family: "Coustard", serif;
    color: gray;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
}

#setEmailtxtbox {
    width: 50%;
    padding: 10px;
    border: solid;
    border-color: #E46262;
    margin-bottom:15px;
    border-radius: 20px;
}

#resetPasswordbtn {
    margin: 10px;
    padding: 7px;
    background-color: rgb(241, 167, 167);
    border-radius: 20px;
    font-family: "Coustard", serif;
    font-size: 12pt;
}

#btnAndCancelDiv{
    display:flex;
    align-items:baseline;
}

#errorlbl {
    color: #DE2B2B;
    font-family: "Coustard", serif;
}
