#heroDiv {
    background-color: #A7DDBA;
    margin: auto;
    text-align:center;
    width:50%;
}

#pfp1, #pfp2, #pfp3{
    width:50px;
    height:50px; 
    border-radius:50px;
}

#userName {
    font-family: "Coustard", serif;
    font-size:15pt;
}
